.header{
    // position: relative;
    height: 35vh;
    overflow: hidden;

    &__bg{
        width: 100%;
        height: 40%;
        object-fit: cover;
    }

    &__info{
        box-sizing: border-box;
        margin-top: -40px;
        width: 100%;
        height: 60%;
        padding: 0 8px;
        color: white;

        .avatar{
            height: 90px;
            width: 90px;
            object-fit: cover;
            border: 4px solid black;
            border-radius: 50%;
        }
        .edit{
            float: right;
            margin-top: 46px;
            border: 2px solid white;
            padding: 4px 10px;
            border-radius: 10px;
            font-size: 16px;
        }

        .name{
            height: 20%;
            padding: 0 4px;
            font-weight: 500;
            font-size: 16px;
            .username{
                font-weight: 300;
                font-size: 12px;
                color: #ccc
            }
        }

        .bio{
            height: 20%;
            padding: 4px;
            font-size: 14px;
        }
    }

}